@use "./utils.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: getThemeValue(border, size, lg);
        background-color: getThemeValue(color, main);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: getThemeValue(border, radius, lg);
        background-color: getThemeValue(color, brand);
    }
}
